<% if(danger && danger.length){ %>
    <div class="alert alert-danger alert-dissmissible" role="alert">
        <h3 class="alert-heading text-center">
            <%= danger %>
        </h3>
    </div>
    <% } %>
        <% if(success && success.length){ %>
            <div class="alert alert-danger alert-dissmissible" role="alert">
                <h3 class="alert-heading text-center">
                    <%= success%>
                </h3>
            </div>
            <% } %>