<!-- <% if(danger && danger.length){ %>
    <p class="alert alert-danger alert-alert-dismissible fade show text-center" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%= danger %>
    </p>
    <% } %> -->


<% if(success && success.length){ %>
    <p class="alert alert-success alert-alert-dismissible fade show text-center" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%= success %>
    </p>
    <% } %>


        <% if(passport && passport.length){ %>
            <p class="alert alert-danger alert-alert-dismissible fade show text-center" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <%= passport %>
            </p>
            <% } %>






                <style>
                    .alert {
                        margin: auto;
                        z-index: 1000;
                    }
                </style>