<title>

    Post Campground</title>
<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="../public/styles/addcampgrounds.css">
    </head>

    <body>
        <%- include('./partials/flashMsg.ejs') %>

            <%- include('./partials/navbar.ejs') %>


                <div class="row mx-0 justify-content-center form-main">
                    <div class="col-9 col-md-6">
                        <div class="main-form-sec">
                            <ul class="pl-0">
                                <H4>Make your campground!</H4>
                            </ul>
                            <form action="/campgrounds/new" method="post" class="needs-validation" novalidate
                                enctype="multipart/form-data">
                                <label for="title">Campground title :</label>
                                <div class="input-group mb-3">
                                    <input required name="campground[title]" id="title" type="text" class="form-control"
                                        placeholder="title" aria-label="title" aria-describedby="basic-addon1"
                                        autofocus>
                                    <div class="valid-feedback">Looks Good!</div>
                                    <div class="invalid-feedback">Please enter a valid title</div>
                                </div>

                                <label for="location">Campground location :</label>
                                <div class="input-group mb-3">
                                    <input required name="campground[location]" id="location" type="text"
                                        class="form-control" placeholder="location" aria-label="location"
                                        aria-describedby="basic-addon1">
                                    <div class="valid-feedback">Looks Good!</div>
                                    <div class="invalid-feedback">Please enter a valid location</div>
                                </div>

                                <label for="image">Campground image :</label>
                                <div class="input-group mb-3">
                                    <input required name="campground[image]" id="image" type="file"
                                        class="form-control " placeholder="image adress (url) " aria-label="image "
                                        aria-describedby="basic-addon1">
                                    <div class="valid-feedback ">Looks Good!</div>
                                    <div class="invalid-feedback ">Please enter a valid image adress</div>
                                </div>
                                <div class="mb-3 ">
                                    <label for="validationTextarea " class="form-label ">Description:</label>
                                    <textarea class="form-control " id="validationTextarea "
                                        name="campground[description]" placeholder="Small Camp Description"
                                        style="max-height:80px ;" required></textarea>
                                    <div class="valid-feedback ">Looks Good!</div>
                                    <div class="invalid-feedback ">
                                        Please enter a description in the textarea.
                                    </div>
                                </div>


                                <label for="price " class="form-label ">Price/night:</label>
                                <div class="input-group has-validation ">
                                    <span class="input-group-text " id="inputGroupPrepend3 ">$</span>
                                    <input type="number" class="form-control " id="price " name="campground[price]"
                                        placeholder="0.00 "
                                        aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback "
                                        required>
                                    <div class="invalid-feedback ">
                                        Please choose a price greater then 0$.
                                    </div>
                                    <div class="valid-feedback ">Looks Good!</div>

                                </div>




                                <button class="btn btn-outline-success my-3 ">Post</button>
                                <a class="btn btn-outline-info " href="/campgrounds ">All Camps</a>

                            </form>
                        </div>
                    </div>

                </div>

    </body>
    <%- include('./partials/buttom.ejs') %>