<title>

    Opps...</title>
<%- include('./partials/head.ejs') %>
    </head>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="row">
                <div class="alert alert-danger col-6 offset-3 my-5" role="alert">
                    <h3 class="alert-heading text-center">
                        <%= err.message %>
                    </h3>
                    <hr>
                    <p>
                        <ul>
                            Need a hint?:
                            <li>Make sure that your request is valid!</li>
                            <li>Make sure that you have entred all the required infos</li>
                            <li>Make sure that your posts or edits are allright</li>
                            <li>Make sure that your price is valid</li>
                            <li>Make sure that your images adress are valid</li>
                        </ul>
                    </p>
                </div>
            </div>
    </body>
    <%- include('./partials/buttom.ejs') %>