<title>

    Opps...</title>
<%- include('./partials/head.ejs') %>
    </head>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="row">
                <div class="alert alert-danger col-6 offset-3 my-5" role="alert">
                    <h3 class="alert-heading text-center">
                        <%= err.message %>
                    </h3>

                    <hr>
                    <p>
                        <ul>
                            Need a hint?:
                            <li>Make sure that your request is valid!</li>
                            <li>Make sure that you have entred all the required infos</li>
                            <li>Make sure that your posts or edits are allright</li>
                            <li>Make sure that your price is valid</li>
                            <li>Make sure that your images adress are valid</li>
                        </ul>
                    </p>
                </div>
            </div>
    </body>


    <script src="/public//scripts//validationScripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    </html>