<title>

    SignUp</title>
<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="../public/styles/signup.css">
    </head>
    <%- include('./partials/navbar.ejs') %>

        <body>
            <%- include('./partials/flashMsg.ejs') %>

                <form action="/signup" method="post" class="needs-validation" novalidate>
                    <div class="signup-box">
                        <h1>SignUp</h1>
                        <div class="textbox ">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Username" name="user[username]" required autofocus>
                            <div class="valid-feedback">Looks Good!</div>
                            <div class="invalid-feedback">Invalid Username</div>

                        </div>
                        <div class="textbox">
                            <i class="fas fa-at"></i>
                            <input type="email" placeholder="Email" name="user[email]" required>
                            <div class="valid-feedback">Looks Good!</div>
                            <div class="invalid-feedback">Invalid Email</div>

                        </div>
                        <div class="textbox">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Password" name="user[password]" required>
                            <div class="valid-feedback">Looks Good!</div>
                            <div class="invalid-feedback">Invalid Password</div>
                        </div>
                        <button class="btn btn-outline-warning my-3"><i class="fas fa-user-plus"></i> SignUp</button>

                </form>


        </body>
        <%- include('./partials/buttom.ejs') %>