body {
    margin: 0%;
    padding: 0%;
}

main {
    width: 80%;
    margin-left: 20%;
    top: 98%;
}

.hero-image {
    width: 100%;
    height: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/https-res-cloudinary-com-massigy-images/image/upload/v1619879776/CampShop/AdminPictures/photo-1476041800959-2f6bb412c8ce_bfxx6a.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    color: whitesmoke;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 30%;
}

@media screen and (max-width: 800px) {
    .hero-text {
        right: 10%;
    }
}


/* SCROLL BAR STYLES */

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}


/* NAVBAR STYLES */

.navbar {
    width: 10% !important;
    background: tomato;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: start;
}

.nav-link a {
    color: white;
    margin-left: 2px;
    margin-bottom: 15%;
}

.nav-link:hover {
    color: white;
    border-bottom: #6649b8 solid 2px;
    margin-left: 2px;
}

.bottumPage {
    display: flex;
    width: 100% !important;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #6649b8;
    color: whitesmoke;
}

.bottumPage a {
    color: whitesmoke;
}

.bottumPage a:hover {
    color: tomato;
}

@media screen and (max-width: 800px) {
    .navbar {
        display: none;
    }
    ;
    .main {
        margin-left: 10%;
    }
}

@media screen and (min-width: 800px) {
    .bottumPage {
        display: none !important;
    }
}

.card-img-top {
    height: 150px !important;
    width: 250px;
}


/* Cluster Map Styles */

@media screen and (max-width: 600px) {
    .map-box:hover>#map {
        width: 200px;
        height: 100px;
        background-color: chocolate;
    }
    ;
    .map-box:hover {
        width: 260px;
        height: 140px;
        z-index: 1000;
        position: absolute;
    }
}

.map-box:hover>#map {
    width: 340px;
    height: 280px;
    background-color: chocolate;
}

.map-box:hover {
    width: 400px;
    height: 300px;
    z-index: 1000;
    position: absolute;
}

.map-box {
    position: absolute;
    top: 92%;
    right: 0%;
    margin-right: 0% !important;
    height: 50px;
    border-radius: 40px;
    background-color: chocolate;
    padding: 10px;
    margin-top: 10px !important;
    margin-right: 10px !important;
    z-index: 1000;
}

#map {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white !important;
    float: left;
    width: 0px;
    transition: 0.5s;
    text-decoration: white;
    border-radius: 10%;
}

#mapToggler {
    border: none;
    background: none;
    outline: none;
    float: right !important;
    height: 25px !important;
    width: 25px !important;
    border-radius: 40px !important;
    display: flex !important;
    color: white;
    justify-content: center !important;
    align-items: center !important;
    margin-right: 3px !important;
    margin-left: 3px !important;
    z-index: 1000;
}


/* Search Box Styles  */

.search-box {
    margin-bottom: auto !important;
    z-index: 1000;
}

.search-section:hover>#searchedInput {
    width: 240px;
    padding: 0 6px;
}

.search-section {
    position: absolute;
    top: 82%;
    right: 0%;
    margin-right: 0% !important;
    height: 50px;
    border-radius: 40px;
    background-color: chocolate;
    padding: 10px;
    margin-top: 10px !important;
    margin-right: 10px !important;
    z-index: 1000;
}

#searchedInput {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white !important;
    float: left;
    line-height: 25px;
    width: 0px;
    transition: 0.5s;
    text-decoration: white;
}

#searchedInput::placeholder {
    color: whitesmoke;
}

#searchIcon {
    border: none;
    background: none;
    outline: none;
    float: right !important;
    height: 25px !important;
    width: 25px !important;
    border-radius: 40px !important;
    display: flex !important;
    color: white;
    justify-content: center !important;
    align-items: center !important;
    margin-right: 3px !important;
    margin-left: 3px !important;
    z-index: 1000;
}