.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    width: 96%;
    margin: auto;
    height: 45%;
}

#avatarImg {
    border-radius: 50%;
    height: 100px;
}

.reviews {
    width: 33rem;
    margin: auto;
}

@media screen and (max-width: 700px) {
    .reviews {
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 700px) {
    .row {
        width: 80%;
        margin-left: 10%;
    }
}

textarea {
    max-width: 400px;
    max-height: 100px;
}


/* Maps Styles */

@media screen and (max-width: 700px) {
    .map-box:hover>.map-box__map {
        width: 240px;
        height: 160px;
        background-color: chocolate;
    }
}

@media screen and (max-width: 700px) {
    .map-box:hover {
        width: 300px;
        height: 200px;
        z-index: 1000;
        position: absolute;
    }
}

.map-box:hover>.map-box__map {
    width: 380px;
    height: 300px;
    background-color: chocolate;
}

.map-box:hover {
    width: 440px;
    height: 320px;
    z-index: 1000;
    position: absolute;
}

.map-box {
    position: absolute;
    top: 10%;
    right: 0%;
    margin-right: 0%;
    height: 50px;
    border-radius: 40px;
    background-color: chocolate;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 1000;
}

.map-box__map {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    float: left;
    width: 0px;
    transition: 1s;
    text-decoration: white;
    border-radius: 10%;
}

#map-box__toggler {
    border: none;
    background: none;
    outline: none;
    float: right;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    margin-left: 3px;
}