* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    font-size: 1.5rem;
    width: 30rem !important;
    height: 40rem !important;
}

.card-img-top {
    width: 96%;
    height: 40%;
}

#avatarImg {
    border-radius: 50%;
    height: 10rem;
}

.reviews {
    width: 33rem;
    margin: auto;
}


/* @media screen and (max-width: 70rem) {
    .reviews {
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 70rem) {
    .row {
        width: 80%;
        margin-left: 10%;
    }
} */

textarea {
    max-width: 40rem;
    max-height: 10rem;
}


/* Maps Styles */

.map-box:hover>.map-box__map {
    width: 90%;
    height: 94%;
    background-color: chocolate;
}

.map-box:hover {
    width: 40rem;
    height: 32rem;
    z-index: 1000;
    position: absolute;
}

.map-box {
    position: absolute;
    top: 92%;
    right: 0%;
    margin-right: 0%;
    height: 5rem;
    width: 5rem;
    border-radius: 4rem;
    background-color: chocolate;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    z-index: 1000;
    margin-bottom: 4rem;
}

.map-box__map {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    float: left;
    width: 0;
    transition: 0.5s;
    text-decoration: white;
    border-radius: 10%;
}

#map-box__toggler {
    border: none;
    background: none;
    outline: none;
    float: right;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    z-index: 1000;
}